[user]
  email = "98982693+BriFBoy@users.noreply.github.com"
  name = "BriFBoy"
  username = "BriFBoy"

[core]
  editor = nvim
[pull]
	rebase = false

[url "git@github.com:"]
	insteadOf = https://github.com/
