dunst/.config/dunst/dunstrc

# Ignoreing the cava shaders and themes and only leaves the config file
cava/.config/cava/shaders/
cava/.config/cava/themes/

neovim/.config/nvim/lazy-lock.json
.luarc.json

# Enviroment variables
fish/.config/fish/fish_variables
fish/.config/fish/conf.d/secrets.fish
fish/.config/fish/conf.d/local.fish
fish/.config/fish/conf.d/*.local.fish
