@import url("../../.cache/wal/colors-waybar.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: @color6;
}

window#waybar {
    background-color: @background;
}
#center {
    font-size: larger;
    font-weight: bold;
}
#hardware {
    font-size: larger;
    font-weight: bold;

}

#tray,
#temperature,
#bluetooth,
#battery,
#custom-powerbutton,
#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}
#tray {
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}